body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #F9F9F9;
}

.main-wrapper{
  max-width: 40em;
  margin : auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main-wrapper .balance-wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}
.main-wrapper .balance-wrapper .add-exp{
  font-family: 'Roboto Mono',monospace;
  outline: none;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.main-wrapper .exp-display{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.main-wrapper .history-wrapper{
  width: 100%;
}
.main-wrapper .history-wrapper .history-list{
  width: 100%;
}